# MacOS
# ----------------------------------
# Karabiner
/mac/karabiner-elements/automatic_backups

# Alfred
/mac/alfred/remote


# Common
modules
# ----------------------------------
# Compiled zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old

# Private Stuff
/**/**/private-*

.idea
/dotfiles.iml

linux/icons/hicolor/128x128/apps/chrome-*.png
